.iframe{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;

    
  }
  .iframe iframe{
    width:1500px ;
    height:850px;
    border: none;
    border: none;
    outline:none;


  }
  h1{color:white;
    font-size: 2rem;
    text-align: center;
  }
  *
  {
    font-family: "fantasy", "Copperplate", 'copperplate';
    background-color: rgb(11, 11, 11);

    font-weight: bold;
  }


  h2{
    color: white;
    text-align: center;
  }
