.iframe{

    display: flex;
    justify-content: center;
    align-items: center;
    

    
  }
  .iframe iframe{
    width:1500px ;
    height:800px;
    padding:50px;
  }
  h1{ 
    font-size: 2rem;
    text-align: center;
  }
  *
  {
    background-color: grey;
  }
