*
{text-decoration: none;
  background-color: rgb(11, 11, 11);
  font-size: 25px;
}



body {
    background-image: url("https://example.com/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45px;
  }
  .app
  { padding-top: 1rem;
    font-size: 60px;
    color: rgb(255, 0, 0);
    text-align: center;
  
  }
  .container {
    padding-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;

    height: 100%;
    flex-wrap: wrap; 

  
  }
  
  .box {
    
  
    width: 100px;
    height: 150px;
    margin-right: 30px;
    text-align: center;
    line-height: 200px;
    color: rgb(230, 11, 11);
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  .box:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .box-1 { box-shadow: 0px 10px 10px rgb(162, 106, 2);
    
    background-image:  url('./images/Tigers.avif');
    width: 300px;
    height: 450px;
    margin-right: 30px;
    text-align: center;
    line-height: 350px;
    color: rgb(192, 105, 0);
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom:30px;
   
  
  }
  
  
  .box-1:hover{  transform: scale(1.1);
    transition: transform 0.3s ease-in-out;}
  
  .box-2 {  
    box-shadow: 0px 10px 10px red;
    background-image: url("./images/red.jpg");
    width: 300px;
    height: 450px;
    margin-right: 30px;
    text-align: center;
    line-height: 350px;
    color: red;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.5s;	background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom:30px;
   

  }
  .box-2:hover{   transform: scale(1.1);
   
    transition: transform 0.3s ease-in-out;}


    .box-3 {  
        box-shadow: 0px 10px 10px darkblue;
        background-image: url("./images/hicks.png");
        width: 300px;
        height: 450px;
        margin-right: 30px;
        text-align: center;
        line-height: 350px;
        color: rgb(0, 3, 83);
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.5s;	background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        margin-bottom:30px;
   
      }


      .box-3:hover{   transform: scale(1.1);
   
        transition: transform 0.3s ease-in-out;}
        .box-4 {  
          display:flex;
          box-shadow: 0px 10px 10px rgb(160, 0, 0);
          background-image: url("./images/texas2.jpeg");
          width: 300px;
          height: 450px;
          margin-right: 30px;
          text-align: center;
          line-height: 350px;
          color: rgb(255, 0, 0);
          font-size: 30px;
          cursor: pointer;
          transition: background-color 0.5s;	background-position: center;
          background-repeat: no-repeat;
          background-size:cover;
          margin-bottom:30px;
     
        }
  
  
        .box-4:hover{   transform: scale(1.1);
     
          transition: transform 0.3s ease-in-out;}


          .box-5 {  
            box-shadow: 0px 10px 10px rgb(209, 181, 0);
            background-image: url("./images/pirates.jpg");
            width: 300px;
            height: 450px;
            margin-right: 30px;
            text-align: center;
            line-height: 300px;
            color: rgb(246, 236, 54);
            font-size: 30px;
            cursor: pointer;
            transition: background-color 0.5s;	background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            margin-bottom:30px;
       
          }
    
    
          .box-5:hover{   transform: scale(1.1);
       
            transition: transform 0.3s ease-in-out;}


            .box-6 {  
              box-shadow: 0px 10px 10px rgb(57, 248, 255);
              background-image: url("./images/dbacks.jpg");
              width: 300px;
              height: 450px;
              margin-right: 30px;
              text-align: center;
              line-height: 200px;
              color: cyan;
              font-size: 30px;
              cursor: pointer;
              transition: background-color 0.5s;	background-position: center;
              background-repeat: no-repeat;
              background-size:cover;
              margin-bottom:30px;
         
            }
      
      
            .box-6:hover{   transform: scale(1.1);
         
              transition: transform 0.3s ease-in-out;}



              .box-7 { box-shadow: 0px 10px 10px rgba(0, 51, 169, 0.809);
  
                background-image:  url('./images/twins2.jpeg');
                width: 300px;
                height: 450px;
                margin-right: 30px;
                text-align: center;
                line-height: 350px;
                color: rgb(32, 0, 192);
                font-size: 30px;
                cursor: pointer;
                transition: background-color 0.5s;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                margin-bottom:30px;
               
              
              }
              
              
              .box-7:hover{  transform: scale(1.1);
                transition: transform 0.3s ease-in-out;}
                
              .box-8 { box-shadow: 0px 10px 10px rgba(0, 182, 237, 0.809);
  
                background-image:  url('./images/royals2.webp');
                width: 300px;
                height: 450px;
                margin-right: 30px;
                text-align: center;
                line-height: 350px;
                color: rgb(0, 150, 200);
                font-size: 30px;
                cursor: pointer;
                transition: background-color 0.5s;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                margin-bottom:30px;
               
              
              }
              
              
              .box-8:hover{  transform: scale(1.1);
                transition: transform 0.3s ease-in-out;}
                .box-9 { box-shadow: 0px 10px 10px rgba(188, 0, 0, 0.809);
  
                  background-image:  url('./images/ind.png');
                  width: 300px;
                  height: 450px;
                  margin-right: 30px;
                  text-align: center;
                  line-height: 375px;
                  color: rgb(176, 0, 0);
                  font-size: 30px;
                  cursor: pointer;
                  transition: background-color 0.5s;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size:cover;
                  margin-bottom:30px;
                 
                
                }
                
                
                .box-9:hover{  transform: scale(1.1);
                  transition: transform 0.3s ease-in-out;}


                  .box-10 { box-shadow: 0px 10px 10px rgba(188, 75, 0, 0.809);
  
                    background-image:  url('./images/baltimore.jpg');
                    width: 300px;
                    height: 450px;
                    margin-right: 30px;
                    text-align: center;
                    line-height: 350px;
                    color: rgb(255, 128, 0);
                    font-size: 30px;
                    cursor: pointer;
                    transition: background-color 0.5s;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size:cover;
                    margin-bottom:30px;
                   
                  
                  }
                  
                  
                  .box-10:hover{  transform: scale(1.1);
                    transition: transform 0.3s ease-in-out;}
                    .box-11{ box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.809);
  
                      background-image:  url('./images/soxs.jpg');
                      width: 300px;
                      height: 450px;
                      margin-right: 30px;
                      text-align: center;
                      line-height: 200px;
                      color: rgb(255, 255, 255);
                      font-size: 30px;
                      cursor: pointer;
                      transition: background-color 0.5s;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size:cover;
                      margin-bottom:30px;
                     
                    
                    }
                    
                    
                    .box-11:hover{  transform: scale(1.1);
                      transition: transform 0.3s ease-in-out;}

                      .box-12{ box-shadow: 0px 10px 10px rgba(21, 0, 255, 0.809);
  
                        background-image:  url('./images/rays.jpg');
                        width: 300px;
                        height: 450px;
                        margin-right: 30px;
                        text-align: center;
                        line-height: 350px;
                        color: rgb(242, 255, 0);
                        font-size: 30px;
                        cursor: pointer;
                        transition: background-color 0.5s;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size:cover;
                        margin-bottom:30px;
                       
                      
                      }
                      
                      
                      .box-12:hover{  transform: scale(1.1);
                        transition: transform 0.3s ease-in-out;}
                        .box-13{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                          background-image:  url('./images/jays.webp');
                          width: 300px;
                          height: 450px;
                       
                          margin-right: 30px;
                          text-align: center;
                          line-height: 350px;
                          color: rgb(0, 0, 177);
                          font-size: 30px;
                          cursor: pointer;
                          transition: background-color 0.5s;
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size:cover;
                          margin-bottom:30px;
                         
                        
                        }
                        
                        
                        .box-14:hover{  transform: scale(1.1);
                          transition: transform 0.3s ease-in-out;}


                          .box-14{ box-shadow: 0px 10px 10px rgba(0, 4, 255, 0.809);
  
                            background-image:  url('./images/braves.jpg');
                            width: 300px;
                            height: 450px;
                            margin-right: 30px;
                            text-align: center;
                            line-height: 350px;
                            color: rgb(255, 17, 17);
                            font-size: 30px;
                            cursor: pointer;
                            transition: background-color 0.5s;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size:cover;
                            margin-bottom:30px;
                           
                          
                          }
                          
                          
                          .box-13:hover{  transform: scale(1.1);
                            transition: transform 0.3s ease-in-out;}

                            .box-15{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                              background-image:  url('./images/cards.jpg');
                              width: 300px;
                              height: 450px;
                              margin-right: 30px;
                              text-align: center;
                              line-height: 350px;
                              color: rgb(255, 17, 17);
                              font-size: 30px;
                              cursor: pointer;
                              transition: background-color 0.5s;
                              background-position: center;
                              background-repeat: no-repeat;
                              background-size:cover;
                              margin-bottom:30px;
                             

                            }
                    .box-15:hover{  transform: scale(1.1);
                          transition: transform 0.3s ease-in-out;}
                              .box-16{ box-shadow: 0px 10px 10px rgba(0, 2, 113, 0.809);
  
                                background-image:  url('./images/brewers.webp');
                                width: 300px;
                                height: 450px;
                                margin-right: 30px;
                                text-align: center;
                                line-height: 350px;
                                color: rgb(255, 17, 17);
                                font-size: 30px;
                                cursor: pointer;
                                transition: background-color 0.5s;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size:cover;
                                margin-bottom:30px;
                               
  
                              }
                              .box-16:hover{  transform: scale(1.1);
                                transition: transform 0.3s ease-in-out;}
                                .box-17{ box-shadow: 0px 10px 10px rgba(0, 4, 255, 0.809);
  
                                  background-image:  url('./images/cubs.jpg');
                                  width: 300px;
                                  height: 450px;
                                  margin-right: 30px;
                                  text-align: center;
                                  line-height: 350px;
                                  color: rgb(255, 17, 17);
                                  font-size: 30px;
                                  cursor: pointer;
                                  transition: background-color 0.5s;
                                  background-position: center;
                                  background-repeat: no-repeat;
                                  background-size:cover;
                                  margin-bottom:30px;
                                 
    
                                }
                                .box-17:hover{  transform: scale(1.1);
                                  transition: transform 0.3s ease-in-out;}
                                  .box-18{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                    background-image:  url('./images/reds.jpg');
                                    width: 300px;
                                    height: 450px;
                                    margin-right: 30px;
                                    text-align: center;
                                    line-height: 350px;
                                    color: rgb(0, 174, 255);
                                    font-size: 50px;
                                    cursor: pointer;
                                    transition: background-color 0.5s;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size:cover;
                                    margin-bottom:30px;
                                   
      
                                  }
                                  .box-18:hover{  transform: scale(1.1);
                                    transition: transform 0.3s ease-in-out;}

                                    .box-19{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                      background-image:  url('./images/nats.jpg');
                                      width: 300px;
                                      height: 450px;
                                      margin-right: 30px;
                                      text-align: center;
                                      line-height: 200px;
                                      color: rgb(255, 17, 17);
                                      font-size: 30px;
                                      cursor: pointer;
                                      transition: background-color 0.5s;
                                      background-position: center;
                                      background-repeat: no-repeat;
                                      background-size:cover;
                                      margin-bottom:30px;
                                     
        
                                    }
                                    .box-19:hover{  transform: scale(1.1);
                                      transition: transform 0.3s ease-in-out;}
                                      .box-20{ box-shadow: 0px 10px 10px rgba(255, 0, 195, 0.809);
  
                                        background-image:  url('./images/marlins.jpg');
                                        width: 300px;
                                        height: 450px;
                                        margin-right: 30px;
                                        text-align: center;
                                        line-height: 350px;
                                        color: rgb(255, 17, 17);
                                        font-size: 30px;
                                        cursor: pointer;
                                        transition: background-color 0.5s;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size:cover;
                                        margin-bottom:30px;
                                       
          
                                      }
                                      .box-20:hover{  transform: scale(1.1);
                                        transition: transform 0.3s ease-in-out;}
                                        .box-21{ box-shadow: 0px 10px 10px rgba(255, 136, 0, 0.809);
  
                                          background-image:  url('./images/mets.jpg');
                                          width: 300px;
                                          height: 450px;
                                          margin-right: 30px;
                                          text-align: center;
                                          line-height: 350px;
                                          color: rgb(255, 145, 0);
                                          font-size: 30px;
                                          cursor: pointer;
                                          transition: background-color 0.5s;
                                          background-position: center;
                                          background-repeat: no-repeat;
                                          background-size:cover;
                                          margin-bottom:30px;
                                         
            
                                        }
                                        .box-21:hover{  transform: scale(1.1);
                                          transition: transform 0.3s ease-in-out;}

                                          .box-22{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                            background-image:  url('./images/Philly.avif');
                                            width: 300px;
                                            height: 450px;
                                            margin-right: 30px;
                                            text-align: center;
                                            line-height: 200px;
                                            color: rgb(255, 17, 17);
                                            font-size: 30px;
                                            cursor: pointer;
                                            transition: background-color 0.5s;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size:cover;
                                            margin-bottom:30px;
                                           
              
                                          }
                                          .box-22:hover{  transform: scale(1.1);
                                            transition: transform 0.3s ease-in-out;}


                                            .box-23{ box-shadow: 0px 10px 10px rgba(0, 149, 255, 0.809);
  
                                              background-image:  url('./images/dodgers.jpg');
                                              width: 300px;
                                              height: 450px;
                                              margin-right: 30px;
                                              text-align: center;
                                              line-height: 350px;
                                              color: rgb(255, 17, 17);
                                              font-size: 30px;
                                              cursor: pointer;
                                              transition: background-color 0.5s;
                                              background-position: center;
                                              background-repeat: no-repeat;
                                              background-size:cover;
                                              margin-bottom:30px;
                                             
                
                                            }
                                            .box-23:hover{  transform: scale(1.1);
                                              transition: transform 0.3s ease-in-out;}
                                              .box-24{ box-shadow: 0px 10px 10px rgba(255, 153, 0, 0.809);
  
                                                background-image:  url('./images/chap.jpg');
                                                width: 300px;
                                                height: 450px;
                                                margin-right: 30px;
                                                text-align: center;
                                                line-height: 350px;
                                                color: rgb(255, 17, 17);
                                                font-size: 30px;
                                                cursor: pointer;
                                                transition: background-color 0.5s;
                                                background-position: center;
                                                background-repeat: no-repeat;
                                                background-size:cover;
                                                margin-bottom:30px;
                                               
                  
                                              }
                                              .box-24:hover{  transform: scale(1.1);
                                                transition: transform 0.3s ease-in-out;}
                                           
                                                .box-25{ box-shadow: 0px 10px 10px rgba(255, 0, 251, 0.809);
  
                                                  background-image:  url('./images/Rockies2.webp');
                                                  width: 300px;
                                                  height: 450px;
                                                  margin-right: 30px;
                                                  text-align: center;
                                                  line-height: 350px;
                                                  color: rgb(255, 17, 17);
                                                  font-size: 30px;
                                                  cursor: pointer;
                                                  transition: background-color 0.5s;
                                                  background-position: center;
                                                  background-repeat: no-repeat;
                                                  background-size:cover;
                                                  margin-bottom:30px;
                                                 
                    
                                                }
                                                .box-25:hover{  transform: scale(1.1);
                                                  transition: transform 0.3s ease-in-out;}
                                                  .box-26{ box-shadow: 0px 10px 10px rgba(84, 39, 0, 0.809);
  
                                                    background-image:  url('./images/padres2.jpg');
                                                    width: 300px;
                                                    height: 450px;
                                                    margin-right: 30px;
                                                    text-align: center;
                                                    line-height: 350px;
                                                    color: rgb(255, 17, 17);
                                                    font-size: 30px;
                                                    cursor: pointer;
                                                    transition: background-color 0.5s;
                                                    background-position: center;
                                                    background-repeat: no-repeat;
                                                    background-size:cover;
                                                    margin-bottom:30px;
                                                   
                      
                                                  }
                                                  .box-26:hover{  transform: scale(1.1);
                                                    transition: transform 0.3s ease-in-out;}
                                                    .box-27{ box-shadow: 0px 10px 10px rgb(255, 132, 0);
  
                                                      background-image:  url('./images/astos.jpg');
                                                      width: 300px;
                                                      height: 450px;
                                                      margin-right: 30px;
                                                      text-align: center;
                                                      line-height: 350px;
                                                      color: rgb(255, 176, 17);
                                                      font-size: 30px;
                                                      cursor: pointer;
                                                      transition: background-color 0.5s;
                                                      background-position: center;
                                                      background-repeat: no-repeat;
                                                      background-size:cover;
                                                      margin-bottom:30px;
                                                     
                        
                                                    }
                                                    .box-27:hover{  transform: scale(1.1);
                                                      transition: transform 0.3s ease-in-out;}
                                                      .box-28{ box-shadow: 0px 10px 10px rgba(0, 171, 250, 0.809);
  
                                                        background-image:  url('./images/marieners.jpg');
                                                        width: 300px;
                                                        height: 450px;
                                                        margin-right: 30px;
                                                        text-align: center;
                                                        line-height: 350px;
                                                        color: rgb(0, 195, 255);
                                                        font-size: 30px;
                                                        cursor: pointer;
                                                        transition: background-color 0.5s;
                                                        background-position: center;
                                                        background-repeat: no-repeat;
                                                        background-size:cover;
                                                        margin-bottom:30px;
                                                       
                          
                                                      }
                                                      .box-28:hover{  transform: scale(1.1);
                                                        transition: transform 0.3s ease-in-out;}
                                                        .box-29{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                                          background-image:  url('./images/trout.jpg');
                                                          width: 300px;
                                                          height: 450px;
                                                          margin-right: 30px;
                                                          text-align: center;
                                                          line-height: 350px;
                                                          color: rgb(255, 17, 17);
                                                          font-size: 30px;
                                                          cursor: pointer;
                                                          transition: background-color 0.5s;
                                                          background-position: center;
                                                          background-repeat: no-repeat;
                                                          background-size:cover;
                                                          margin-bottom:30px;
                                                         
                            
                                                        }
                                                        .box-29:hover{  transform: scale(1.1);
                                                          transition: transform 0.3s ease-in-out;}
                                                          .box-30{ box-shadow: 0px 10px 10px rgba(26, 255, 0, 0.809);
  
                                                            background-image:  url('./images/a\'s.jpg');
                                                            width: 300px;
                                                            height: 450px;
                                                            margin-right: 30px;
                                                            text-align: center;
                                                            line-height: 350px;
                                                            color: rgb(17, 255, 33);
                                                            font-size: 30px;
                                                            cursor: pointer;
                                                            transition: background-color 0.5s;
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-size:cover;
                                                            margin-bottom:30px;
                                                           
                              
                                                          }
                                                          .box-30:hover{  transform: scale(1.1);
                                                            transition: transform 0.3s ease-in-out;}
                                                            .box-31{ box-shadow: 0px 10px 10px rgba(0, 145, 255, 0.809);
  
                                                              background-image:  url('./images/goff.jpg');
                                                              width: 300px;
                                                              height: 450px;
                                                              margin-right: 30px;
                                                              text-align: center;
                                                              line-height: 350px;
                                                              color: rgb(0, 112, 209);
                                                              font-size: 30px;
                                                              cursor: pointer;
                                                              transition: background-color 0.5s;
                                                              background-position: center;
                                                              background-repeat: no-repeat;
                                                              background-size:cover;
                                                              margin-bottom:30px;
                                                             
                                
                                                            }
                                                            .box-31:hover{  transform: scale(1.1);
                                                              transition: transform 0.3s ease-in-out;}
                                                              .box-32{ box-shadow: 0px 10px 10px rgba(255, 1, 1, 0.809);
  
                                                                background-image:  url('./images/mac.jpg');
                                                                width: 300px;
                                                                height: 450px;
                                                                margin-right: 30px;
                                                                text-align: center;
                                                                line-height: 200px;
                                                                color: rgb(0, 26, 255);
                                                                font-size: 30px;
                                                                cursor: pointer;
                                                                transition: background-color 0.5s;
                                                                background-position: center;
                                                                background-repeat: no-repeat;
                                                                background-size:cover;
                                                                margin-bottom:30px;
                                                               
                                  
                                                              }
                                                              .box-32:hover{  transform: scale(1.1);
                                                                transition: transform 0.3s ease-in-out;}
                                                                
                                                                .box-33{ box-shadow: 0px 10px 10px rgba(255, 0, 230, 0.809);
  
                                                                  background-image:  url('./images/Connor.jpg');
                                                                  width: 300px;
                                                                  height: 450px;
                                                                  margin-right: 30px;
                                                                  text-align: center;
                                                                  line-height: 200px;
                                                                  color: rgb(255, 0, 43);
                                                                  font-size: 30px;
                                                                  cursor: pointer;
                                                                  transition: background-color 0.5s;
                                                                  background-position: center;
                                                                  background-repeat: no-repeat;
                                                                  background-size:cover;
                                                                  margin-bottom:30px;
                                                                 
                                    
                                                                }
                                                                .box-33:hover{  transform: scale(1.1);
                                                                  transition: transform 0.3s ease-in-out;}
                                                                  .box-34{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                                                    background-image:  url('./images/wings.webp');
                                                                    width: 300px;
                                                                    height: 450px;
                                                                    margin-right: 30px;
                                                                    text-align: center;
                                                                    line-height: 200px;
                                                                    color: rgb(0, 26, 255);
                                                                    font-size: 30px;
                                                                    cursor: pointer;
                                                                    transition: background-color 0.5s;
                                                                    background-position: center;
                                                                    background-repeat: no-repeat;
                                                                    background-size:cover;
                                                                    margin-bottom:30px;
                                                                   
                                      
                                                                  }
                                                                  .box-34:hover{  transform: scale(1.1);
                                                                    transition: transform 0.3s ease-in-out;}
                                                                    .box-35{ box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.809);
  
                                                                      background-image:  url('./images/canes.png');
                                                                      width: 300px;
                                                                      height: 450px;
                                                                      margin-right: 30px;
                                                                      text-align: center;
                                                                      line-height: 350px;
                                                                      color: rgb(0, 26, 255);
                                                                      font-size: 30px;
                                                                      cursor: pointer;
                                                                      transition: background-color 0.5s;
                                                                      background-position: center;
                                                                      background-repeat: no-repeat;
                                                                      background-size:cover;
                                                                      margin-bottom:30px;
                                                                     
                                        
                                                                    }
                                                                    .box-35:hover{  transform: scale(1.1);
                                                                      transition: transform 0.3s ease-in-out;}
                                                                      .box-36{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                                                        background-image:  url('./images/rangers.jpg');
                                                                        width: 300px;
                                                                        height: 450px;
                                                                        margin-right: 30px;
                                                                        text-align: center;
                                                                        line-height: 350px;
                                                                        color: rgb(222, 0, 0);
                                                                        font-size: 40px;
                                                                        cursor: pointer;
                                                                        transition: background-color 0.5s;
                                                                        background-position: center;
                                                                        background-repeat: no-repeat;
                                                                        background-size:cover;
                                                                        margin-bottom:30px;
                                                                       
                                          
                                                                      }
                                                                      .box-36:hover{  transform: scale(1.1);
                                                                        transition: transform 0.3s ease-in-out;}
                                                                        .box-37{ box-shadow: 0px 10px 10px rgba(255, 208, 0, 0.809);
  
                                                                          background-image:  url('./images/bruins.jpg');
                                                                          width: 300px;
                                                                          height: 450px;
                                                                          margin-right: 30px;
                                                                          text-align: center;
                                                                          line-height: 200px;
                                                                          color: rgb(255, 225, 0);
                                                                          font-size: 40px;
                                                                          cursor: pointer;
                                                                          transition: background-color 0.5s;
                                                                          background-position: center;
                                                                          background-repeat: no-repeat;
                                                                          background-size:cover;
                                                                          margin-bottom:30px;
                                                                         
                                            
                                                                        }
                                                                        .box-37:hover{  transform: scale(1.1);
                                                                          transition: transform 0.3s ease-in-out;}
                                                                          .box-38{ box-shadow: 0px 10px 10px rgba(0, 153, 255, 0.809);
  
                                                                            background-image:  url('./images/av.webp');
                                                                            width: 300px;
                                                                            height: 450px;
                                                                            margin-right: 30px;
                                                                            text-align: center;
                                                                            line-height: 350px;
                                                                            color: rgb(0, 251, 255);
                                                                            font-size: 40px;
                                                                            cursor: pointer;
                                                                            transition: background-color 0.5s;
                                                                            background-position: center;
                                                                            background-repeat: no-repeat;
                                                                            background-size:cover;
                                                                            margin-bottom:30px;
                                                                           
                                              
                                                                          }
                                                                          .box-38:hover{  transform: scale(1.1);
                                                                            transition: transform 0.3s ease-in-out;}
                                                                            .box-39{ box-shadow: 0px 10px 10px rgba(0, 255, 17, 0.809);
  
                                                                              background-image:  url('./images/stars.jpg');
                                                                              width: 300px;
                                                                              height: 450px;
                                                                              margin-right: 30px;
                                                                              text-align: center;
                                                                              line-height: 350px;
                                                                              color: rgb(17, 255, 0);
                                                                              font-size: 40px;
                                                                              cursor: pointer;
                                                                              transition: background-color 0.5s;
                                                                              background-position: center;
                                                                              background-repeat: no-repeat;
                                                                              background-size:cover;
                                                                              margin-bottom:30px;
                                                                             
                                                
                                                                            }
                                                                            .box-39:hover{  transform: scale(1.1);
                                                                              transition: transform 0.3s ease-in-out;}
                                                                              .box-40{ box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.809);
  
                                                                                background-image:  url('./images/panthers.webp');
                                                                                width: 300px;
                                                                                height: 450px;
                                                                                margin-right: 30px;
                                                                                text-align: center;
                                                                                line-height: 200px;
                                                                                color: rgb(203, 3, 3);
                                                                                font-size: 40px;
                                                                                cursor: pointer;
                                                                                transition: background-color 0.5s;
                                                                                background-position: center;
                                                                                background-repeat: no-repeat;
                                                                                background-size:cover;
                                                                                margin-bottom:30px;
                                                                               
                                                  
                                                                              }
                                                                              .box-40:hover{  transform: scale(1.1);
                                                                                transition: transform 0.3s ease-in-out;}
                                                                                .box-41{ box-shadow: 0px 10px 10px rgba(255, 136, 0, 0.809);
  
                                                                                  background-image:  url('./images/mcdavid.webp');
                                                                                  width: 300px;
                                                                                  height: 450px;
                                                                                  margin-right: 30px;
                                                                                  text-align: center;
                                                                                  line-height: 350px;
                                                                                  color: rgb(254, 127, 0);
                                                                                  font-size: 40px;
                                                                                  cursor: pointer;
                                                                                  transition: background-color 0.5s;
                                                                                  background-position: center;
                                                                                  background-repeat: no-repeat;
                                                                                  background-size:cover;
                                                                                  margin-bottom:30px;
                                                                                 
                                                    
                                                                                }
                                                                                .box-41:hover{  transform: scale(1.1);
                                                                                  transition: transform 0.3s ease-in-out;}